    .close {
        position: relative;
        right: 113px;
    }

    .topic {
        background-color: #337ab7;
        color: white;
        padding: 8px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        border-radius: 5px 5px 0 0;
        border: 1px solid #337ab7;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;

    }
	
	.detailWrapper{
		padding: 15px;
    	border-color: #337ab7;
    	border-style: solid;
    	border-top: none;
    	margin-left: 20px;
    	margin-right: 20px;
    	padding:40px;
	
	}
	.navigation_bar{
	    background-color: #337ab7;
    	border-color: #2e6da4;
	}